// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";

body {
  background-image: linear-gradient(#28313b, #485461);
  min-height: 100vh;
  h1 {
    color: white;
  }
}
